*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
/identifier.sqlite
/lukas.sobotik.dailytasks
/UserTasks.db
/app/release/output-metadata.json
/app/release/TaskLooper-v1.0.0.aab
/app/release/TaskLooper-v1.0.0.apk
